/* 404.css */

* {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: #141414;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 600px;
}

.glitch {
  font-size: 5rem;
  animation: glitch 1s infinite alternate;
}

@keyframes glitch {
  0% {
    text-shadow: 3px 3px #e50914, -3px -3px #e50914;
  }
  100% {
    text-shadow: -3px -3px #e50914, 3px 3px #e50914;
  }
}

.message {
  font-size: 1rem;
  margin: 20px 0;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.home-btn {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.home-btn:hover {
  background-color: #f40612;
  transform: scale(1.1);
}

/* Footer */
footer {
  background-color: #141414;
  padding: 20px 40px;
  text-align: center;
  border-top: 1px solid #333;
  margin-top: auto;
}
